[submodule ".registry"]
	path = .registry
	url = https://github.com/tjpalanca/universe
	shallow = true
	branch = HEAD
[submodule "tjart"]
	path = tjart
	url = https://github.com/tjpalanca/tjart
	shallow = true
	registered = true
[submodule "webtools"]
	path = webtools
	url = https://github.com/tjpalanca/webtools
	shallow = true
	registered = true
[submodule "bulma.R"]
	path = bulma.R
	url = https://github.com/tjpalanca/bulma.R
	shallow = true
	registered = true
[submodule "loadtest"]
	path = loadtest
	url = https://github.com/tmobile/loadtest
	shallow = true
	registered = false
